<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lin.shopping.item.mapper.BrandMapper">

    <insert id="insertCategoryAndBrand">
       INSERT INTO tb_category_brand (category_id,brand_id) values (#{cid}, #{bid})
    </insert>
    <select id="seleceBrandsByCid" resultType="com.lin.shopping.item.pojo.Brand">
       SELECT *
       FROM tb_brand a INNER JOIN tb_category_brand b ON a.id=b.brand_id
       WHERE b.category_id=#{cid}
    </select>
    <delete id="deleteCategoryAndBrand">
        DELETE b,c
        FROM tb_brand as b,tb_category_brand as c
        WHERE c.brand_id=#{cid}
    </delete>
</mapper>